body{
    background: #1B1B29;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

title{
    color: white;
}

.top_header{
    background: #000000;
    width: 100%;
    position: fixed;
    z-index: 2;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.white_text, #white_text, #white_text_1
{
    color: white;
}
#text_center{
    text-align: center;
}

.form_back{
    background: blue;
    border-radius: 15px;
    position: relative;
    z-index: -2;
}


#main_logo{
    width: 70px;
}

.left_wrapper{
    display: flex;
    justify-content: none;
    list-style: none;
    background: blue;
    padding: 20px;
    margin-top: 0;
}

.container{
    display
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

footer{
    max-width: 1240px;
    margin: -8px -1px 0 -6px;
    padding: 0;
    box-sizing: border-box;
    transform: translate(5px, 10px);
    position: relative;
    z-index: -3;
}

.footer_wrapper{
    border-radius: 15px;
}

.left_wrapper{
    border-radius: 15px;
}

.flash{
    padding: 10px;
    width: 300px;
}

.flash.success{
    border: 1px solid green;
    background: yellow;
}

.flash.error{
    border: 1px solid red;
    background: purple;
}

h2, ul{
    display: flex;
    justify-content: center;
}

#contact_form_1{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    position:relative;
    z-index: 999;
    }

.form_reviews{
    background: white;
    border-radius: 15px;
    margin: -15px 0px -15px 0px;
    position: relative;
    min-height: 400px;
    z-index:;
}

.container_wrap{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.first_container, .second_container, .third_container{
    background: white;
    box-sizing: border-box;
    width: 1200px;
    margin: 0auto;
    text-align: center;
    border-radius: 15px;
    height: 400px;
    padding: 12px;
    margin: 2px
}

.second_container{
    background: blue;
    position: relative;
}

.img_dog{
    position: absolute;
    transform: translate(70px, -310px);
    z-index: 0;
    }

.dog_2{
    position: absolute;
    z-index: 2;
    transform: translate(710px, -510px)
}


textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: grey;
    resize: none;
}

#1_input, #1_input2 {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    background-color: grey;
    resize: none;
}

.white_container{
    background: white;
    position: relative;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    margin: -8px 0px -8px 0px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;

}