<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block tittle %}
    {% if title %}
    <title>4+1 {{ title }}</title>
    {% else %}
    <title>4+1</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content %}

<div class="container">
    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>4+1</h1>
    {% endif %}
</div>
{% endblock content %}
</body>
<footer>
    {% block footer %}
    {% for m in menu %}
    <li>
        <a href="{{ m.url }}">{{ m.name }}</a>
    </li>
    {% endfor %}
    {% endblock footer %}
</footer>
</html>